<h3 class="header text-uppercase">Edit your Plan</h3>

<div id="editicon"><%= link_to ('<i class="fa fa-eye"></i>').html_safe, profile_path %></div>

<div id="editform"><%= render 'form', plan: @plan %></div>

