<p id="notice"><%= notice %></p>

<h1>Plans</h1>


<h3>Breakfast</h3>

<% @foods_b.each do |food| %>
    <p> <%= food.name %> </p>

<% end %>

<h3>Lunch</h3>
<% @foods_l.each do |food| %>
    <p> <%= food.name %> </p>

<% end %>

<h3>Dinner</h3>
<% @foods_d.each do |food| %>
    <p> <%= food.name %> </p>

<% end %>

